nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid silver;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;
}

.header .col1 {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100%;
}

.header .col1 img {
    width: 200px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.header .col1 ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

.header .liSpecifique {
    display: none;
}

.header .col2 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header .col2 button {
    border: 1px solid #084298;
    padding: .5rem;
    color: #084298;
    background-color: #fff;
    border-radius: 5px;
}

.header #icons {
    cursor: pointer;
    display: none;
}

@media screen and (max-width:900px) {
    .header #icons {
        display: block;
    }

    .header.active #icons::before {
        content: '\2715';
        font-size: 1.5rem;
    }

    .header #icons::before {
        content: "\2630";
        font-size: 1.5rem;
    }

    .header .col1 ul {
        position: fixed;
        left: -100%;
        top: 9%;
        flex-direction: column;
        background-color: #084298;
        width: 100%;
        text-align: center;
        transition: .25s;
        padding: 1rem;
        height: 90vh;
        z-index: 1000000000;
        justify-content: center;
    }

    .header.active .col1 ul li {
        padding: 3px 0;
        color: #fff;
        font-size: 1.2rem;
    }

    .header.active .liSpecifique {
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: center;
    }

    .header.active .liSpecifique button {
        border: 1px solid #084298;
        padding: .5rem;
        color: #084298;
        background-color: #fff;
        border-radius: 5px;
    }

    .header .col1 ul li:hover {
        background-color: #578ad6;
    }

    .header.active ul {
        left: 0;
    }
}

@media screen and (max-width:470px) {
    .header .col2 {
        display: none;
    }
}