nav {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  padding: 1rem 5rem;
  border-bottom: 1px solid #eee;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
}

.header .col1 {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 100%;
}

.header .col1 img {
  width: 200px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.header .col1 ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

nav form {
  flex: 1;
}

nav form div {
  width: 60%;
  display: flex;
  align-items: center;
  margin: auto;
}

nav form div input {
  width: 100%;
  border: 1px solid silver;
  padding: 0.4rem 1rem;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 35px;
  font-family: "Alegreya", sans-serif;
}

nav form div button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #084298;
  background-color: #084298;
  padding: 0.4rem 1rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 35px;
}

nav .icons {
  display: flex;
  gap: 1rem;
}

nav .icons .button {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0;
}

nav .icons .button span {
  font-size: 14px;
}

nav .icons .button svg {
  font-size: 1.3rem;
}

nav .hidenIcon,
nav .iconsSec {
  display: none;
}

@media screen and (max-width: 1100px) {
  nav form div {
    width: 80%;
  }
}

@media screen and (max-width: 840px) {
  nav {
    padding: 1rem;
  }
}

@media screen and (max-width: 740px) {
  nav .hidenIcon {
    display: block;
  }

  nav .hidenIcon button,
  .iconsSec button {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;
  }

  nav .hidenIcon button svg {
    color: #222 !important;
    font-size: 1.4rem;
  }

  nav form {
    display: none;
  }

  nav form.active {
    display: block;
  }

  nav .icons.inactive {
    display: none;
  }

  nav .iconsSec.active {
    display: block;
  }

  nav .icons button span {
    display: none;
  }
}

@media screen and (max-width:455px) {
  .header .col1 img {
    width: 120px;
  }
}