.Search {
  padding: 2rem 5rem;
}

.Search .card {
  border: 1px solid silver;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  cursor: pointer;
  transition: 0.6s;
  border-radius: 0;
  margin-bottom: 1rem;
}

.Search .card img {
  height: 280px;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.Search .contentNom {
  flex: 1;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.Search .grille .card img:hover {
  transform: scale(1.019);
}

.descMagazine {
  padding: 1rem;
}

.descMagazine .categorieNom {
  color: #084298;
  font-size: 12px;
}

.Search .grille {
  display: grid;
  grid-template-columns: repeat(5, 19%);
  justify-content: space-between;
  margin-top: 2rem;
}

@media screen and (max-width: 1250px) {
  .Search .grille {
    grid-template-columns: repeat(4, 24%);
  }
}

@media screen and (max-width: 1000px) {
  .Search .card img {
    height: 150px;
  }

  .Search {
    padding: 2rem 1rem;
  }
}

@media screen and (max-width: 800px) {
  .Search .grille {
    grid-template-columns: repeat(2, 48.75%);
  }
}
