.magazine {
  padding: 0 5rem 2rem 5rem;
  width: 100%;
  margin: auto;
  background-color: #fff !important;
}

.magazine h2 {
  margin: 0;
  margin-bottom: 2rem;
  text-align: center;
}

.magazine .card {
  border: 1px solid silver;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  cursor: pointer;
  transition: 0.6s;
  border-radius: 0;
  margin-right: 1rem;
}

.magazine .card img {
  height: 280px;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.magazine .contentNom {
  flex: 1;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.magazine .grille .card img:hover {
  transform: scale(1.019);
}

.descMagazine {
  padding: 1rem;
}

.descMagazine .categorieNom {
  color: #084298;
  font-size: 12px;
}

@media screen and (max-width:840px) {
  .magazine {
    padding: 2rem 1rem;
  }

  .magazine .card img {
    height: 140px;
  }
}