.modalReadDoc.modal {
    display: flex !important;
    max-width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin-top: 3rem;
}

.modalReadDoc.modal .modal-dialog {
    max-width: 70% !important;
    width: 100% !important;
}

.modalReadDoc.modal .modal-content {
    border-radius: 3px !important;
    padding: 1rem;
}

.modalReadDoc.modal .modal-header {
    background-color: #fff !important;
    border: 0 !important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.readDoc {
    display: flex;
    gap: 3rem;
    width: 100%;
}

.readDoc .cardShowDoc {
    width: 70%;
    border: 0;
    border-radius: 0;
}

.readDoc .cardShowDoc .fullscreen {
    width: 100%;
    height: 500px;
}

.readDoc .card {
    background-color: #eee;
}

.readDoc .descNom {
    flex: 1;
}

.modalReadDoc.modal .closeMdalBtn {
    background: #fff;
    border: 0;
}

.modalReadDoc.modal .closeMdalBtn svg {
    font-size: 2.2rem;
    color: #666;
}

.readDoc .cardShowDoc .fullscreen canvas {
    height: 100% !important;
    object-fit: scale-down;
    border-radius: 0 !important;
    border: 0 !important;
    width: 100% !important;
}

.readDoc .cardShowDoc .btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.readDoc .cardShowDoc .btns button {
    position: absolute;
    top: 50%;
    border: 0;
}

.readDoc .cardShowDoc .btns button:first-child {
    left: 0;
}

.readDoc .cardShowDoc .btns svg {
    font-size: 2.4rem;
    color: #777;
}

.readDoc .fullscreen .nbrePages {
    position: absolute;
    top: 0;
    background-color: #ddd;
}

.modalReadDoc.modal .toolsBar {
    border: 1px solid #ddd;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    background-color: #333;
}

.modalReadDoc.modal .toolsBar button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: #333;
}

.modalReadDoc.modal .toolsBar button svg {
    font-size: 1.5rem;
    color: #fff;
}